<app-title>Virtual Scroll Table (Number of records: {{ photoLength$ | async }})</app-title>
<cdk-virtual-scroll-viewport
  (scrolledIndexChange)="nextBatch$()"
  [style.height.px]="gridHeight"
  tableFixedSizeVirtualScroll
  [scrollHeight]="60"
  [scrollHeader]="60"
>
  <mat-table [dataSource]="dataSource$" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="albumId">
      <mat-header-cell *matHeaderCellDef>Album Id</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.albumId }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.title }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="url">
      <mat-header-cell *matHeaderCellDef>Url</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.url }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="thumbnailUrl">
      <mat-header-cell *matHeaderCellDef>Thumbnail Url</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <img src="{{ element.thumbnailUrl }}" alt="element.title" />
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" [style.top.px]="scrollPosition"></mat-header-row>
    <ng-template let-row matRowDef cdkVirtualFor [matRowDefColumns]="displayedColumns" [cdkVirtualForOf]="photos$ | async">
      <mat-row class="animated fadeInRight slow"></mat-row>
    </ng-template>
  </mat-table>
</cdk-virtual-scroll-viewport>
